<form class="comment-form mt-1">
    
    <div class="comment-form-body mx-1">
        <header><b>Add a New Comment</b></header>
        <div>
            <textarea name="comment-body" class="form-textarea mb-2" placeholder="Leave a Comment"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </div>
    
</form> 